html {
    background-color: #127869;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

button {
    background-color: bisque;
    padding: 1em;
    border: black solid 2px;
    border-radius: 1em;
}

a {
    background-color: bisque;
    padding: 1em;
    border: black solid 2px;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

a:hover {
    font-size: 15px;
}

h2 {
    text-align: center;
    font-size: 47px;
    background-color: bisque;
    padding: 1em;
    border: solid black 3px;
    border-radius: 1em;
    letter-spacing: 0.15em;
}
